[
  { sasl,
    [ {sasl_error_logger, false}
    , {errlog_type, error}
    , {error_logger_mf_dir, false}
    ]
  }

, { catsvr,
    [ { main, dummy }
    , { id, 1 }
    , { name, "" }
    , { state, 1 }                              %% 显示状态
    , { register, 1 }                           %% 可否注册新角色
    , { login, 1 }                              %% 可否登陆
    , { pay, 1 }                                %% 可否拉起新订单，已支付订单不受影响
    , { open_time, "2022-02-22"}                %% 开服时间
    , { tcp, [ {port, 20001} ] }                %% tcp 服务，不配置将不会启动
    , { web, [ {port, 20002} ] }                %% web 服务，不配置将不会启动
    , { websocket, [ {port, 20003} ] }          %% websocket 服务，不配置将不会启动
    , { mongodb,
        [ {login, <<"game">>}
        , {password, <<"MAvHaPbzmemU5EBt">>}
        , {host, "10.0.0.55"}
        , {port, 27017}
        , {database, <<"catsvr">>}
        ]
      }
    ]
  }

, { kernel,
    [ { logger,       %% win 开发环境 console 输出 log，生产环境建议使用 lager
        [ { handler, default, logger_std_h
          , #{ level => error
             , config => #{ type => file
                          , file => "./log/error.log"
                          , max_no_bytes => 1048576
                          , max_no_files => 10
                          }
             }
          }
        , { handler, console, logger_std_h
          , #{ level => notice
             , config => #{ type => standard_io }
             , formatter => { logger_formatter, #{ single_line => true } }
             }
          }
        ]
      }
    ]
  }

% , { lager,
%     [ { handlers,
%         [ {lager_console_backend, [{level, info}]}
%         , {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {count, 10}]}
%         ]
%       }
%     , {log_root, "log"}
%     , {colored, true}  %% windows 环境不可用
%     ]
%   }

, {chat,
    [ {chat_private_process_amount, 10}     %% 私聊处理进程数量
    , {chat_save_message_max,       1000}   %% 频道内缓存多少条消息
    , {chat_fetch_message_amount,   10}     %% 主动获取消息，一次获取条数
    ]
  }

, { metronome,
    [ {beat_timer, 300}                     %% 打拍时间间隔（毫秒）
    ]
  }
].

